/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: #45badd;
  font-size: 62.5%;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./robot.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#joke-btn {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff3482;
  box-shadow: 0.5rem 0.5rem 3rem 2rem rgba(0, 0, 0, 0.5);
  transition: 0.2s all;

  font-size: 1rem;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#joke-btn:active {
  transform: scale(0.98);
}

#joke-btn:disabled,
#joke-btn:disabled:hover {
  cursor: default;
  filter: brightness(30%);
}

@media screen and (min-width: 960px) {
  main {
    background-size: contain;
    background-position: left center;
  }

  #joke-btn {
    box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2);
  }

  #joke-btn:hover {
    filter: brightness(90%);
  }
}
